<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="com.qf.service.impl.UserServiceImpl" id="userService"/>

    <bean class="com.qf.service.advice.MyTranAdvice" id="myTranAdvice"/>

    <bean class="com.qf.service.advice.MyInterAdvice" id="myInterAdvice"/>

<!--    <aop:config proxy-target-class="true">-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com..impl.*Impl.*(..))"/>-->
<!--        <aop:advisor advice-ref="myInterAdvice" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->


    <aop:aspectj-autoproxy expose-proxy="true" proxy-target-class="true"/>
</beans>