<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--MyBatis配置-->
<configuration>
    <!--数据库配置-->
    <properties resource="jdbc.properties" />
    
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
    </plugins>
    <!--别名不推荐使用，不方便切换-->
<!--    <typeAliases>-->
        <!--给单个配置别名-->
<!--        <typeAlias type="com.qf.pojo.User" alias="user"></typeAlias>-->
        <!--包扫描方式配别名-->
<!--        <package name="com.qf.pojo"/>-->
<!--    </typeAliases>-->
    <!--JDBC环境配置、选中默认环境-->
    <environments default="MySqlDB">
        <!--MySql数据库环境配置-->
        <environment id="MySqlDB">
            <!--事务管理-->
            <transactionManager type="JDBC"/>
            <!--连接池-->
            <dataSource type="com.qf.Utils.MyDruidDataSourceFactory">
                <property name="driverClass" value="${driverClass}"/>
                <!-- &转义&amp; -->
                <property name="jdbcUrl" value="${jdbcUrl}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--Mapper注册-->
    <mappers>
        <!--注册Mapper文件的所在位置-->
        <mapper resource="com/qf/mapper/UserMapper.xml"/>
        <mapper resource="com/qf/mapper/ProductMapper.xml"/>
        <mapper resource="com/qf/mapper/OrderMapper.xml"/>
    </mappers>
</configuration>