<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--要求整个映射文件记住-->
<!--namespace要是接口文件的全限定名称-->
<mapper namespace="com.qf.mapper.UserMapper">
    <!--查询用户表所有数据-->
    <!--id是当前这个标签的唯一标识-->
    <select id="findAll" resultType="com.qf.pojo.User" >
        select * from t_users;
    </select>
    <select id="findById" resultType="com.qf.pojo.User" >
        select * from t_users where id =#{id};
    </select>

    <select id="findLike" resultType="com.qf.pojo.User">
        select * from t_users where name like '%${likeName}%';
        <!--/*select * from t_users where name like concat("%",#{likeName},"%");*/-->
    </select>

    <insert id="insertInto">
        /*after 是先执行sql语句，再执行selectkey
          before是先执行selectkey，再执行别的SQL语句
          */
        <selectKey resultType="Integer" keyProperty="user.id" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into t_users values(null,#{user.name},#{user.password},#{user.sex},#{user.birthday},#{user.registTime});
    </insert>
    
    <update id="updateUserById">
        update t_users set name = #{user.name},sex = #{user.sex},password =#{user.password},registTime = #{user.registTime} where id = #{user.id};
    </update>

    <delete id="deleteById">
        delete from t_users where id = #{id};
    </delete>

    <select id="selectByNameAndPwd" resultType="com.qf.pojo.User">
        select * from t_users where name=#{name} and password = #{password};
    </select>

    <select id="selectByNameAndPwdMap" resultType="com.qf.pojo.User">
        select * from t_users where name=#{myName} and password = #{myPassword};
    </select>

    <delete id="deleteByName">
        delete from t_users where name like '%${name}%';
    </delete>
</mapper>