<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--要求整个映射文件记住-->
<!--namespace要是接口文件的全限定名称-->
<mapper namespace="com.qf.mapper.UserMapper">
    <sql id="selectUserAll">
        select * from t_users
    </sql>

    <!--查询用户表所有数据-->
    <!--id是当前这个标签的唯一标识-->
    <select id="findAll" resultType="com.qf.pojo.User" >
        <include refid="selectUserAll"></include>
        <!-- /*select * from t_users;*/-->
    </select>
    <select id="findById" resultType="com.qf.pojo.User" >
        select * from t_users where id =#{id};
    </select>

    <select id="findLike" resultType="com.qf.pojo.User">
        select * from t_users where name like '%${likeName}%';
        <!--/*select * from t_users where name like concat("%",#{likeName},"%");*/-->
    </select>

    <insert id="insertInto">
        /*after 是先执行sql语句，再执行selectkey
          before是先执行selectkey，再执行别的SQL语句
          */
        <selectKey resultType="Integer" keyProperty="user.id" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into t_users values(null,#{user.name},#{user.password},#{user.sex},#{user.birthday},#{user.registTime});
    </insert>
    <!--
    <update id="updateUserById">
        update t_users set name = #{user.name},sex = #{user.sex},password =#{user.password},registTime = #{user.registTime} where id = #{user.id};
    </update>
    -->
    <update id="updateUserById">
        update t_users
            <set>
                <if test="user.name != null">
                    name = #{user.name},
                </if>

                <if test="user.sex != null">
                     sex = #{user.sex},
                </if>

                <if test="user.password != null">
                     password = #{user.password},
                </if>

                <if test="user.birthday != null">
                     birthday = #{user.birthday},
                </if>

                <if test="user.registTime != null">
                     registTime = #{user.registTime},
                </if>


            </set>
        where id = #{user.id};
    </update>
    <delete id="deleteById">
        delete from t_users where id = #{id};
    </delete>

    <select id="selectByNameAndPwd" resultType="com.qf.pojo.User">
        select * from t_users where name=#{name} and password = #{password};
    </select>

    <select id="selectByNameAndPwdMap" resultType="com.qf.pojo.User">
        select * from t_users where name=#{myName} and password = #{myPassword};
    </select>

    <delete id="deleteByName">
        delete from t_users where name like '%${name}%';
    </delete>

    <select id="findByNameAndSexAndPwd" resultType="com.qf.pojo.User">
        <include refid="selectUserAll"></include>
        <where>
            <if test="user.name != null and user.name != '' ">
                name like '%${user.name}%'
            </if>

            <if test="user.sex != null and user.sex != ''">
                and sex = #{user.sex}
            </if>

            <if test="user.password != null and user.password != ''">
                and password = #{user.password}
            </if>
        </where>
    </select>

    <select id="findByIds" resultType="com.qf.pojo.User">
        <!--
        collection: 循环的集合或者其他
        item：循环的临时变量
        open：循环前拼接的字符串
        close：循环后拼接的字符串
        separator：遍历过程中的分隔符
        -->
        select * from t_users where
        <foreach collection="ids" item="id" open="id in(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <resultMap id="findAllTempResultMap" type="com.qf.pojo.User">
        <!--id 标签是配置主键的字段和属性的关系
        property 指定实体类中的属性column
        指定数据库中的字段的属性-->
        <id property="id" column="id"></id>
        <!--result 非主键配置
        property 指定实体类中的属性column
        指定数据库中的字段的属性-->
        <result property="name" column="myname"></result>
        <result property="sex" column="sex"></result>
        <result property="password" column="password"></result>
        <result property="birthday" column="birthday"></result>
        <result property="registTime" column="registTime"></result>
    </resultMap>
    <select id="findAllTemp" resultMap="findAllTempResultMap">
        select id,name as myname,password,sex,birthday,registTime from t_users;
    </select>

    <resultMap id="UserAndDescResultMap" type="com.qf.pojo.User">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="password" column="password"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <result property="registTime" column="registTime"></result>


        <association property="userDesc" javaType="com.qf.pojo.UserDesc">
            <id property="id" column="id"></id>
            <result property="address" column="address"></result>
            <result property="phoneNum" column="phone"></result>
        </association>
    </resultMap>

    <select id="findUserAndDesc" resultMap="UserAndDescResultMap">
        select a.*,b.address,b.phone from t_users as a,t_user_desc as b where a.id = b.id;
    </select>
</mapper>